<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690656399839-cqtbcjhm1g8genvicv97konjlt27am7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690656399839-cqtbcjhm1g8genvicv97konjlt27am7q</string>
	<key>API_KEY</key>
	<string>AIzaSyBiCAwOzYnfd6m-9a5rALOzP7XUOy18iVU</string>
	<key>GCM_SENDER_ID</key>
	<string>690656399839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vzhan.nuios</string>
	<key>PROJECT_ID</key>
	<string>pokepicker-81652</string>
	<key>STORAGE_BUCKET</key>
	<string>pokepicker-81652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690656399839:ios:38e8ffe2b154f32b14746a</string>
</dict>
</plist>